@import url('https://fonts.googleapis.com/css?family=Aldrich&display=swap');

body {
  margin: 0;
  font-family:'Aldrich', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background: url("https://image.freepik.com/free-photo/abstract-background-from-black-color-painted-white-wall-art-backdrop_28586-872.jpg") no-repeat center center fixed;
    background-size: cover; 
    background-size: 100% 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Aldrich', sans-serif, source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content{
  background: url("../paper.png") no-repeat center center;
  background-size: cover;
  resize: both;
  height: 30rem;
  width: 41.5rem;
  animation-duration: 3s;
  animation-name: text-appear;
  animation-fill-mode: forwards;
}

@keyframes text-appear {
  from {
    opacity: 0%;
    filter: invert(30%);
  }

  to {
    filter: invert(100%);
    opacity: 100%;
  }
}
